# Practica 3 - Pandas
**Nombre:** tu nombre

Realiza los ejecicios que se indican en este notebook para practicar tu uso de la herramienta de gestion y almacenamiento de datos PANDAS

In [4]:
import numpy as np
import pandas as pd

**Ejercicios**

1.   Crea una serie con los siguientes valores:

`temperaturas = [25, 30, 28, 33, 22, 19]`

In [5]:
serie = pd.Series([25, 30, 28, 33, 22, 19])
print (serie)

0    25
1    30
2    28
3    33
4    22
5    19
dtype: int64

2.   Crea un DataFrame con los siguientes valores:

`datos = [['Nueva York', 25], ['Londres', 18], ['París', 20], ['Tokio', 28], ['Sydney', 30]]`

In [11]:
datos = [['Nueva York', 25], ['Londres', 18], ['París', 20], ['Tokio', 28], ['Sydney', 30]]
df=pd.DataFrame(datos)
print(df)

            0   1
0  Nueva York  25
1     Londres  18
2       París  20
3       Tokio  28
4      Sydney  30



3.   Importa los siguientes datos en un DataFrame llamado `df`
(Este DataFrame lo usaras en los proximos Ejercicios)

https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv

In [19]:
url= 'https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv'

df=pd.read_csv(url)
print(df)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
0                             0.0
1                             4.9
2                             0.7
3                            12.4
4                             5.9
..                            ...
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

[193 rows x 5 columns]

4.   Muestra los primeros 10 registros del DataFrame

In [21]:
print(df.head(10))

             country  beer_servings  spirit_servings  wine_servings  \
0        Afghanistan              0                0              0
1            Albania             89              132             54
2            Algeria             25                0             14
3            Andorra            245              138            312
4             Angola            217               57             45
5  Antigua & Barbuda            102              128             45
6          Argentina            193               25            221
7            Armenia             21              179             11
8          Australia            261               72            212
9            Austria            279               75            191

   total_litres_of_pure_alcohol
0                           0.0
1                           4.9
2                           0.7
3                          12.4
4                           5.9
5                           4.9
6                           8.3
7                           3.8
8                          10.4
9                           9.7

5.   Muestra los ultimos 5 registros del DataFrame

In [22]:
print(df.tail(5))

       country  beer_servings  spirit_servings  wine_servings  \
188  Venezuela            333              100              3
189    Vietnam            111                2              1
190      Yemen              6                0              0
191     Zambia             32               19              4
192   Zimbabwe             64               18              4

     total_litres_of_pure_alcohol
188                           7.7
189                           2.0
190                           0.1
191                           2.5
192                           4.7

6.   Muestra los datos correspondientes a Mexico.

In [24]:
print(df[df["country"]=="Mexico"])

    country  beer_servings  spirit_servings  wine_servings  \
109  Mexico            238               68              5

     total_litres_of_pure_alcohol
109                           5.5



7. Muestra informacion sobre el DataFrame, por ejemplo si tiene Datos Nulos

8. Muestra estadisticas descriptivas sobre el DataFrame

In [25]:
print(df.describe(include='all'))

            country  beer_servings  spirit_servings  wine_servings  \
count           193     193.000000       193.000000     193.000000
unique          193            NaN              NaN            NaN
top     Afghanistan            NaN              NaN            NaN
freq              1            NaN              NaN            NaN
mean            NaN     106.160622        80.994819      49.450777
std             NaN     101.143103        88.284312      79.697598
min             NaN       0.000000         0.000000       0.000000
25%             NaN      20.000000         4.000000       1.000000
50%             NaN      76.000000        56.000000       8.000000
75%             NaN     188.000000       128.000000      59.000000
max             NaN     376.000000       438.000000     370.000000

        total_litres_of_pure_alcohol
count                     193.000000
unique                           NaN
top                              NaN
freq                             NaN
mean                        4.717098
std                         3.773298
min                         0.000000
25%                         1.300000
50%                         4.200000
75%                         7.200000
max                        14.400000

9.     Muestra Estadisticas descriptivas de Mexico, Estados Unidos y Canada.

In [42]:
print(df[df["country"].isin(["Mexico", "Canada", "USA"])].describe())

       beer_servings  spirit_servings  wine_servings  \
count       3.000000         3.000000        3.00000
mean      242.333333       116.000000       63.00000
std         5.859465        45.299007       50.86256
min       238.000000        68.000000        5.00000
25%       239.000000        95.000000       44.50000
50%       240.000000       122.000000       84.00000
75%       244.500000       140.000000       92.00000
max       249.000000       158.000000      100.00000

       total_litres_of_pure_alcohol
count                      3.000000
mean                       7.466667
std                        1.721434
min                        5.500000
25%                        6.850000
50%                        8.200000
75%                        8.450000
max                        8.700000

10. Generá 3 Graficas que creas mas convenientes para comprender los datos almacenados en el DataFrame, y genera una conclusion sobre dichos datos.